<div class="container">
<h6 class="show-title"><%= @cocktail.name %></h6>
  <div class="row d-md-flex d-lg-flex no-gutters">
    <div class="col-lg-5 order-sm-1 order-lg-0 order-md-1">
      <div class="show-img" style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
      </div>
    </div>
    <div class="col-lg-7 order-sm-2 order-lg-2 order-md-2">
      <% @cocktail.doses.each do |dose| %>
        <p><strong>Doses:</strong><%= dose.ingredient.name %><%= link_to "Delete Doses", dose_path(dose), method: :delete, class: 'btn btn-outline-danger ml-3' %></p>
        <p><strong>Description:</strong><%= dose.description %></p> <br>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to 'Back to Cocktails Page', cocktails_path, class: 'btn btn-outline-danger' %>
  <%= link_to 'Create a Dose',  new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-success' %>
</div>
