<div class="container col-6-offset-3">

  <h1>New doses for <%=  @cocktail.name %></h1>
  <div>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, as: :text %>
    <%= f.association :ingredient, input_html: { multiple: true, class: "multiple-select" }, include_hidden: false %>
    <%= f.submit "Add the Dose", class: "btn btn-flat" %>
    <% end %>
    <div>
    </div>
  </div>
</div>


<div class="text-center">
  <%= link_to 'Go Back', cocktails_path, class: 'btn btn-gradient' %>
</div>
